@font-face {
  font-family: pretendard;
  src: local(pretendard), url(Pretendard-Bold.otf) format("truetype");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: pretendard;
  src: local(pretendard), url(Pretendard-SemiBold.otf) format("truetype");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: pretendard;
  src: local(pretendard), url(Pretendard-Medium.otf) format("truetype");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: pretendard;
  src: local(pretendard), url(Pretendard-Regular.otf) format("truetype");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: pretendard;
  src: local(pretendard), url(Pretendard-Light.otf) format("truetype");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: mont;
  src: local(Montserrat), url(Montserrat-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: mont;
  src: local(Montserrat), url(Montserrat-SemiBold.ttf) format("truetype");
  font-style: normal;
  font-weight: 600;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: mont;
  src: local(Montserrat), url(Montserrat-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: mont;
  src: local(Montserrat), url(Montserrat-Light.ttf) format("truetype");
  font-style: normal;
  font-weight: 300;
  unicode-range: U+0-10FFFF;
}
